<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}

    {{ partial "coverimage.html" . }}
    <!-- Code that all your templates share, like a header -->
    
    baseof in private
    
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
    
    {{ partial "footer.html" . }}
    {{ partial "footer_scripts" . }}
  </body>
</html>