{{ define "main" }}
<section class="main non-narrow zero-top-spacing">
        <div class="content">
            {{ $globalTitle := .Title }}
            <div class="markdown">
                      <div class="front-matter">
                        {{ partial "updates.html" . }}
                      </div>
                      {{ .Content }}
            </div>

            <div class="posts">
            {{ if ne (len (where .Data.Pages "Title" "!=" $globalTitle)) 0}}
                <div class="page-heading">{{ .Title }}</div>
                <ul>
                    {{ range .Data.Pages.ByPublishDate.Reverse }}
                        {{ if ne .Title $globalTitle }}
                            {{ partial "li.html" . }}
                        {{ end }}
                    {{ end }}
                </ul>
            {{ end }}
            </div>
            {{ if .Params.comments}}
                <div class="disqus">
                    {{ template "_internal/disqus.html" . }}
                </div>
            {{ end }}
          
        </div>
</section>
{{ end }}
