{{/* get figure class name and id from URL destination */}}
{{/* ![image](assets/images/2023-04-04-05-58-29.png?class=float%20right&id=bigger "caption goes here") */}}

{{ $u := .Destination | urls.Parse }}
{{ $addl_attr := "" }}
{{- range $key, $val := $u.Query -}}
  {{- range $idx, $elem := $val -}}
    {{ $addl_attr = printf "  %s %s=\"%s\"" $addl_attr $key $elem }}
  {{ end }}
{{ end}}

{{- $img_name := strings.TrimLeft "assets/" $u.Path  }}


{{/* ====================== */}}
{{/* try to look for local resources first */}}
{{- $img := .Page.Resources.GetMatch $img_name -}}

{{/* then it searches in the assets directory */}}
{{- if and (not $img) .Page.File -}}
  {{- $img = resources.GetMatch $img_name -}}
{{- end -}}

<figure {{ $addl_attr | safeHTMLAttr }}>
{{- with $img -}}
  {{- $large := $img.Resize "1200x" -}}
  {{ $medium := $large.Fill "726x402" -}}
  {{ $small := $medium.Fill "458x254" -}}
  <img alt="{{ $.Text }}" srcset="
      {{ $small.RelPermalink }} 458w,
      {{ $medium.RelPermalink }} 726w,
      {{ $large.RelPermalink }} 1200w" sizes="50vw" src="{{ $small.RelPermalink }}" />
  <figcaption>{{ with $.Title | safeHTML }}{{ . }}{{ end }}</figcaption>
{{- else -}}
  <img src="{{ $u.Path | safeURL }}" alt="{{ .Text }}" >
  <figcaption>{{ with .Title | safeHTML }}{{ . }}{{ end }}</figcaption>
{{- end -}}
</figure>
