{{/* try to look for local resources first */}}
{{- $img := .Page.Resources.GetMatch .Destination -}}

{{/* then it searches in the assets directory */}}

{{- if and (not $img) .Page.File -}}
  {{- $img = resources.Get .Destination -}}
{{- end -}}


{{- with $img -}}
  {{- $large := $img.Resize "1200x" -}}
  {{ $medium := $large.Fill "726x402" -}}
  {{ $small := $medium.Fill "458x254" -}}
  <figure class="image-caption">
      <img alt="{{ $.Text }}" srcset="
          {{ $small.RelPermalink }} 458w,
          {{ $medium.RelPermalink }} 726w,
          {{ $large.RelPermalink }} 1200w" sizes="50vw" src="{{ $small.RelPermalink }}" />
      <figcaption>{{ with $.Title | safeHTML }}{{ . }}{{ end }}</figcaption>
  </figure>
{{- else -}}
  {{ if .Title }}
  <figure>
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}">
    <figcaption>{{ .Title }}</figcaption>
  </figure>
  {{ else }}
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}">
  {{ end }}
{{- end -}}

