{{ define "main" }}

<section class="main post non-narrow zero-top-spacing">
        <div class="content">
            <div class="posts">
              <div class="page-heading">Posts about {{ .Title }}</h1>
                <ul>
                {{ $data := .Data }}
                {{ range $key, $value := .Data.Terms.Alphabetical }}
                  <li><a href="{{ .Name | urlize }}">{{ .Name }} ({{ .Pages | len }})"</li>
                {{ end }}
                </ul>
              </div>
            </div>
        </div>
</section>

{{ end }}
