{{ define "main" }}
<section class="main non-narrow zero-top-spacing">
        <div class="content">
            {{ $globalTitle := .Title }}
            JOURNAL SECTION LAYOUT

            <div class="markdown">
                      <div class="front-matter">
                        {{ partial "updates.html" . }}
                      </div>
                      {{ .Content }}
            </div>

            {{ partial "latest-edits.html" . }}
            
            <div class="posts">
            {{ if ne (len (where .Data.Pages "Title" "!=" $globalTitle)) 0}}
                <div class="page-heading">{{ .Title }} Posts
                    <p class="page-subheading">Showing all previous posts in section</p>
                </div>
                <ul>
                    {{ range .Paginator.Pages.ByDate.Reverse }}
                        {{ if ne .Title $globalTitle }}
                            {{ partial "li-preview.html" . }}
                        {{ end }}
                    {{ end }}
                    {{ partial "pagination.html" . }}
                </ul>
            {{ end }}
            </div>

            {{ partial "tagcloud.html" . }}
            
            {{ if .Params.comments}}
                <div class="disqus">
                    {{ template "_internal/disqus.html" . }}
                </div>
            {{ end }}
          
        </div>
</section>
{{ end }}


{{ define "listsub" }}
    {{ printf "%#v" .Title }}
{{ end }}


{{ define "section-tree-pages" }}
  {{ range .Sections.Reverse }}
  		{{ range .Pages }}
            {{ printf "%#v" .Title }}
    	{{ end }}
    	{{ template "section-tree-pages" . }}
  {{ end }}
{{ end }}
