{{ define "main" }}
<section class="main non-narrow zero-top-spacing">
        <div class="content">
            {{ $globalTitle := .Title }}
            <div class="markdown">
                      <div class="front-matter">
                        {{ partial "updates.html" . }}
                      </div>
                      {{ .Content }}
            </div>

            
            <div class="posts">
              {{ if ne (len (where .Site.RegularPages "Title" "!=" $globalTitle)) 0}}
              <div class="page-heading">
                {{ .Title }}
                <p class="page-subheading">Showing all previous posts in section</p>
              </div>

              {{ range (where .Site.RegularPages "Params.type" "post").GroupByDate "01-2006" }}
              <div class="group-heading"> {{ .Key }} </div>

              <ul>
                {{ range (where .Pages "Params.archive" "!=" true) }}
                  {{ partial "li.html" . }}
                {{ end }}
              </ul>
              {{ end }}
              {{ end }}

            </div>


            {{ partial "tagcloud.html" . }}
            
            {{ if .Params.comments}}
                <div class="disqus">
                    {{ template "_internal/disqus.html" . }}
                </div>
            {{ end }}
          
        </div>
</section>
{{ end }}
