{{ define "main" }}
<section class="main post non-narrow zero-top-spacing">
        <div class="content">
            {{ partial "read-zk-moc-taxo.html" .Type }}
            <div class="{{ .Type }}-posts">
                <div class="page-heading">{{ .Type }}</div>
                    <ul>
                        {{ range $key, $taxonomy := ( index .Site.Taxonomies .Type ) }}
                        <li class="group-heading">{{ $key }}</li>
                        <ul>
                            {{ range $taxonomy.Pages }}
                                {{ partial "li.html" . }}
                            {{ end }}
                        </ul>
                        {{ end }}
                    </ul>
            </div>
            
        </div>
</section>

{{ end }}

