section {
padding: 0 16px;
margin-left: 10%;
margin-right: 10%;
max-width: 70%;
}

section.main .content .markdown figure {
width: 110%;
margin-left: -4%;
}
section.main .content .markdown img {
max-width: 110%;
width: 110%;
margin-left: -4%;
}