<div>
  <ol class="breadcrumb">
    {{ template "breadcrumb" dict "Page" .Page "id" .UniqueID }}
  </ol>
</div>

<!-- templates -->
{{ define "breadcrumb" }}
  {{ if .Page.Parent }}
    {{ template "breadcrumb" dict "Page" .Page.Parent }}
  {{ end }}
  <li>
    {{ if eq .id .Page.UniqueID }}
      {{ if eq .Page.Kind "home" }}
        <p>HOME</p>
      {{ else }}
        {{ upper .Page.Title }}
      {{ end }}
    {{ else }}
      {{ if eq .Page.Kind "home" }}
        <a href="{{ .Page.Permalink }}"><p>HOME/</p></a>
      {{ else }}
        <a href="{{ .Page.Permalink }}"><p>{{ upper .Page.Title }}/</p></a>
      {{ end }}
    {{ end }}
  </li>
{{ end }}