<div>
  <ol class="breadcrumb">
    {{ template "breadcrumb" dict "currentPage" .Page "id" .UniqueID }}
  </ol>
</div>

<!-- templates -->
{{ define "breadcrumb" }}
  {{ if .currentPage.Parent }}
    {{ template "breadcrumb" dict "currentPage" .currentPage.Parent }}
  {{ end }}
  <li>
    {{ if eq .id .currentPage.UniqueID }}
      {{ if eq .currentPage.Kind "home" }}
        HOME 
      {{ else }}
        {{ upper .currentPage.Title }}
      {{ end }}
    {{ else }}
      {{ if eq .currentPage.Kind "home" }}
        <a href="{{ .currentPage.URL }}">HOME</a>
      {{ else }}
        <a href="{{ .currentPage.URL }}">{{ upper .currentPage.Title }}</a>
      {{ end }}
    {{ end }}
  </li>
{{ end }}