<!--<ul>-->
    <!-- orders content according to the "lastmod" field in front matter -->
<!--    {{ range (.Pages.ByParam "project") }}-->
        <!--<li>-->
        <!--    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>-->
        <!--    <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>-->
        <!--</li>-->
<!--        <li class="post-item">-->
            <!--<span class="meta">{{ .Date.Format .Site.Params.dateform }}</span>-->
<!--            <a href="{{ .Permalink }}"><span>{{ .Title }}</span></a>-->
<!--        </li>-->
<!--    {{ end }}-->
    
    
    
    <!-- Groups content according to the "param_key" field in front matter -->
{{ range .Pages.GroupByParam "project" }}
<h3>{{ .Key }}</h3>
<ul>
    {{ range .Pages }}
    <li>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
    </li>
    {{ end }}
</ul>
{{ end }}