<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Section }}</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        
        <li class="dropdown-item"><a href="{{ .Permalink }}">All</a></li>

        {{ $posts := (where .Pages ".IsPage" false) }}
        {{ $postCount := len $posts }}
        {{ if gt $postCount 0 }}
            {{ range where .Pages ".IsPage" "==" false }}
                {{ partial "dropdown_submenu.html" . }}
            {{ end }} 
        {{ end }}
    </ul>
</li>