<li class="dropdown-submenu">
    <a  class="dropdown-item" tabindex="-1" href="{{ .Permalink }}">{{ .Title }}</span></a>
    {{ range .Sections }}
        {{ $posts := (where .Pages ".IsPage" false) }}
        {{ $postCount := len $posts }}
        {{ if gt $postCount 0 }}
            <ul class="dropdown-menu">
                {{ range where .Pages ".IsPage" "==" false }}
                    {{ partial "dropdown_submenu.html" . }}
                {{ end }}
            </ul>
        {{ end }}
    {{ end }} 
</li>