<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ .Permalink }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Section }}</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li class="dropdown-item"><a href="{{ .Permalink }}">All</a></li>
        {{ range .Sections }}
            {{ if gt (len .Sections) 0 }}
                {{ partial "dropdown_submenu.html" . }}
            {{ else }}
                <li class="dropdown-item"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        {{ end }}
    </ul>
</li>


<script>
$('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
  if (!$(this).next().hasClass('show')) {
    $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
  }
  var $subMenu = $(this).next(".dropdown-menu");
  $subMenu.toggleClass('show');


  $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
    $('.dropdown-submenu .show').removeClass("show");
  });


  return false;
});
</script>