<section class="header">
  <div>
    <div class="left-div">
      <a href="{{ .Site.BaseURL }}" class="logo">
        <img src="{{ .Site.Params.logofile | absURL }}" alt="logo" />
      </a>
    </div>
    <div class="right-div">
      <a href={{ .Site.BaseURL }} class="name">{{ .Site.Title }}</a>
    </div>
  </div>



  <nav class="navbar navbar-expand-lg navbar-light rounded">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarc"
      aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarc">
      <ul class="navbar-nav">

        {{- /* <!-- <!-- specifically for taxonomy of 'zk' in config.toml --> --> */ -}}
        {{- /* <!-- {{ $taxo := "zk" }} --> */ -}}
        {{- /* <!-- {{ with ($.Site.GetPage (printf "/%s" $taxo)) }} --> */ -}}
        {{- /* <!-- {{ partial "dropdown-taxo.html" (dict "context" . "name" "notes")}} --> */ -}}
        {{- /* <!-- <!-- {{ partial "dropdown-taxo.html" (dict "context" . "name" $taxo)}} --> --> */ -}}
        {{- /* <!-- {{ end }} --> */ -}}

        {{ $taxo := "pj" }}
        {{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
        {{ partial "dropdown-taxo.html" (dict "context" . "name" "wiki-projects")}}
        {{ end }}

        {{ $blog_taxo := "blog" }}
        {{ with ($.Site.GetPage (printf "/%s" $blog_taxo)) }}
        {{ partial "dropdown-taxo.html" (dict "context" . "name" "blog")}}
        {{ end }}


        {{ $taxo := "categories" }}
        {{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
        {{ partial "dropdown-taxo.html" (dict "context" . "name" "categories")}}
        {{ end }}

        {{ $taxo := "series" }}
        {{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
        {{ partial "dropdown-taxo.html" (dict "context" . "name" "series")}}
        {{ end }}

        {{- /* <!-- combine together of all sections --> */ -}}
        {{ $all_sections := slice }}
        {{ range .Site.Sections }}
          {{ $all_sections = $all_sections | append . }}
        {{ end }}
        {{ range where .Site.RegularPages "Section" ""}}
          {{ $all_sections = $all_sections | append . }}
        {{ end }}

        {{ range $all_sections }}
          {{ if in .Site.Params.customPages .Title }}
            {{ if gt (len .Sections) 0 }}
              {{ partial "dropdown.html" . }}
            {{ else if gt (len .Page.Content) 0 }}
              <li class="nav-item active">
                <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
            {{ end }}
          {{ end }}
        {{ end }}

      </ul>


      <!-- </div> -->
    </div>
    <!-- </navi> -->
  </nav>
  <div class="search-box">
    <!--<form class="search form-inline" text-align="center">-->
    <!--  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search-query">-->
    <!--  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="{{ .Site.GetPage "/Search" }}">Search</button>-->
    <!--</form>-->
    {{ with .Site.GetPage "/Search" }}
    <form action="{{ .Permalink}}">
      <input id="search-query" name="q" />
    </form>
    {{ end }}

  </div>

</section>
<!-- </div> -->
