{{ define "main" }}
    <section class="main">
        <a href="/family/">Back to Family</a>
        
        <div class="content">
            <div class="family-posts">
                <h1 class="page-heading">{{ .Title }} family</h1>
                family TAXO

                {{ .Content }}
                
                {{ range .Paginator.Pages }}
                    
                    <ul>
                        {{ partial "li-preview.html" . }}
                    </ul>
                {{ end }}
                {{ partial "pagination.html" . }}
            </div>
        </div>
        
    </section>
{{ end }}
