{{ define "main" }}
<section class="main post non-narrow zero-top-spacing">
        <div class="content">
          Taxonomy / tag.terms.html<br>
          Showing all the tag terms
            <div class="posts">
              <div class="page-heading">Posts about {{ .Title }}</h1>

                <ul id="all-series">
                    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                        {{ $series_name := $name }}
                        {{ $series_path := (printf "/tags/%s.html" (urlize $name)) }}
                        {{ $series_page := site.GetPage $series_path }}

                        {{ if $series_page }}
                            {{ $series_name = $series_page.Title }}
                        {{ end }}
                        <li><a href="{{ $series_path | relLangURL }}">{{ $series_name }} ({{ $taxonomy.Count }})</a></li>
                    {{ end }}
                </ul>

              </div>
            </div>
        </div>
</section>

{{ end }}
