{{ define "main" }}
    <section class="main">
        <a href="/tags/">Back to Tags</a>
        
        <div class="content">
            {{ $globalTitle := .Title }}

            <div class="markdown">
                <div class="front-matter">
                  {{ partial "updates.html" . }}
                </div>
                {{ .Content }}
            </div>

            {{ partial "latest-edits.html" . }}
            
            {{ if .Params.comments}}
                <div class="disqus">
                    {{ template "_internal/disqus.html" . }}
                </div>
            {{ end }}
          
        </div>
        
    </section>
{{ end }}
