{{ define "main" }}
    <section class="main">
        <a href="/tags/">Back to Tags</a>
        
        <div class="content">
            <div class="series-posts">
                <h1 class="page-heading">{{ .Title }} Series</h1>
                {{ .Content }}
                
                {{ range .Paginator.Pages }}
                    <ul>
                        {{ partial "li-preview.html" . }}
                    </ul>
                {{ end }}
                {{ partial "pagination.html" . }}
            </div>
        </div>
        
    </section>
{{ end }}